*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navb{
    background-color: #454545;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    justify-content: center;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
}

.navb ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;

}




.main1{
    height: 90vh;
    background-image: url(./Public/apple-iphone-12-concept_158711095630.jpg);
    display: grid;
    place-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* background-repeat: repeat-x;
    background-size:cover; */
}

.main1d h1 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: 600;
}

.main1d h3{
    color: whitesmoke;
    font-weight: 100px;
}

.butt{
margin-top: 20px;

}
.btnf{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;

   
}

.btn2{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    background-color: black;
    border-color: #429AF2;
}



.main2 {
    height: 90vh;
    background-color:#000000;
    display: grid;
    /* place-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 1%;
}

.main2b{
    margin-top: 3%;
}


.main2b h1{
    color: whitesmoke;
    font-size: 60px;
    font-weight: 600;
}

.main2b h3{
    color: whitesmoke;
    font-weight: 100px;
}

.btnn{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}

.btnn1{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    background-color: black;
    border-color: #429AF2;
}

.buttn{
    margin-top: 20px;;
}

.stra{
    margin-top: 10px;
    
    
}

.con{
    display: flex;
    column-gap: 10px;
    margin-top: 1%;
}

.box-1{
    height: 80vh;
    width: 50%;
    /* background-color:#F5F5F7 ; */
    background-image: url(./Public/8590.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: inline;
    text-align: center;    
}

.box-1 h1{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600px;
    font-weight: bold;

}

.btn-box1{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}

.btn-box2{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    border-color: #429AF2;
}


.box-2{
    height: 80vh;
    width: 50%;
    /* background-color: #F5F5F7; */
    background-image:  url(./Public/2148890988.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center; 
    display: grid;
    place-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.box-2 h1{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600px;
    font-weight: bold;
    color: black;
    
}

.btn-box-1{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}

.btn-box-2{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    border-color: #429AF2;
}

.con2{
    display: flex;
    column-gap: 10px;
    margin-top: 1%;
}

.box-3{
    height: 80vh;
    width: 50%;
    /* background-color:#F5F5F7 ; */
    background-image: url(./Public/2151039303.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: inline;
    text-align: center;  
  
}

.box-3 h1{
    color: whitesmoke;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600px;
    font-weight: bold;
}

.box-3 h6{
    color: red;
}

.box-3 h3{
    color: whitesmoke;
    font-weight: 15px;
}

.btn-box-3{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}

.btn-box-33{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    /* background-color: black; */
    border-color: #429AF2;
}


.box-4{
    height: 80vh;
    width: 50%;
    /* background-color:#F5F5F7 ; */
    background-image: url(./Public/60047.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: inline;
    text-align: center;  
}

.box-4 h1{
    
    color: whitesmoke;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600px;
    font-weight: bold;
}

.box-4 h3{
    color: whitesmoke;
    font-weight: 15px;

}

.btn-box-4{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: white;
    color: black;
}

.con3{
    display: flex;
    column-gap: 10px;
    margin-top: 1%;
}


.box-5{
        height: 80vh;
        width: 50%;
        /* background-color:#F5F5F7 ; */
        background-image: url(./Public/Apple-Giftard.webp);
        background-repeat: no-repeat;
        background-size:cover;
        display: inline;
        text-align: center;  
        
}

.box-5 h1{
    /* color: whitesmoke; */
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600px;
    /* font-weight: bold; */
}

.box-5 h3{
    font-weight: 15px;
}

.btn-box-5{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}

.btn-box-5-2{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #0077ED;
    border-color: #429AF2;
}


.box-6{
    height: 80vh;
    width: 50%;
    /* background-color:#F5F5F7 ; */
    background-image: url(./Public/2149437088.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: inline;
    text-align: center;  
}

.box-6 h1{
    /* color: whitesmoke; */
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600px;
    /* font-weight: bold; */
}

.btn-box-6{
    border-radius: 30px;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #0077ED;
    color: whitesmoke;
}


